/*
* @Author: Kiril Kirkov  - https://github.com/kirilkirkov
*/
html, body { height: 100%;}
body {background-color:#272727; font-family:arial;}

#wrapper { min-height: 100%; position: relative;}
#content {padding-bottom:100px;}

#top-bg {background-image: url('../img/top-bg.jpg'); background-repeat:no-repeat; height:882px; padding-top:65px;}
#top-bg nav {margin-bottom:30px;}
#top-bg nav .navbar-nav a {text-transform:uppercase; color:#fff; font-weight:bold;}
#top-bg nav .navbar-nav ul.dropdown-menu li a {color:#333; font-weight:normal;}
#top-bg .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover , .navbar-default  a:hover, .navbar-default  a:active {background-image:url('../img/menu-bg-hover.png');}
#top-bg .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {background-image:url('../img/menu-bg-hover.png');}
#top-bg .navbar {border-radius:15px;}
#top-bg .navbar-default {background-image:url('../img/menu-bg.png'); background-repeat:repeat-x; border:2px solid #f57c0b;}
#top-bg .head-contact {margin-bottom:44px;}
#top-bg .head-contact div {color:#fff; font-size:22px;}
#top-bg .head-contact a {color:#fcea54;}
#top-bg .helpyourself {color:#fff;}
#top-bg nav .navbar-nav li {width:160px; text-align:center; border-left:1px solid #fcb31f; border-right:1px solid #f86803;}
#top-bg .navbar-toggle span.icon-bar {background-color:#fff;}
#top-bg .navbar-brand {color:#fff;}
#top-bg .navbar-nav > li > .dropdown-menu {width:200px;}
#top-bg .navbar-nav > li > .dropdown-menu li {border:0; width:auto;}

#slider { margin-bottom: 30px;   position: relative;}
#slider .right-side-glass {position:absolute; top:0; right:-50px;}
#slider .left_side_glass {position:absolute; top:0; left:-50px;}
#slider .slide {overflow:hidden; border-radius: 15px; border:4px solid #f87c0a; color: #fff; height: 400px;}
#slider #slide-nav {background-image:url('../img/blue-btn.jpg');  border-radius: 50px;bottom: 20px; cursor: pointer; height: 40px; left: 50%; margin-left: -50px; padding-left: 20px; padding-right: 20px; padding-top: 8px; position: absolute;}
#slider .slide-change { border: 4px solid #fff; border-radius: 50px; display: inline-block; padding: 8px;}
#slider .slide-change.active {background-color: #fff;}
#slider .firm-logo {margin-right: -20px; padding: 10px;}
#slider .info {color:#f16008; margin-left: 20px;  margin-right: 20px;  margin-top: 130px;   padding: 10px;}
#slider .info a.btn.btn-primary {background-image:url('../img/blue-btn.jpg');  border-radius: 50px; border:0;}
#slider .info h1 {text-transform:uppercase; font-size:28px;}
#slider .firm-logo img {width:50px;}

#center-bg h1.home-other {color:#fff; margin-bottom:30px;}

.home-boxes {width:300px; color:#fff; margin:0 auto;}
.home-boxes img {border-radius:35px; border:2px solid #fff;}
.home-boxes p {height:110px; margin:0; overflow:hidden;}
.home-boxes .home-box-btn {background-image:url('../img/home-boxes-btn.jpg'); height:38px; width:120px; padding-top:7px; color:#fff; border-radius:40px; padding-left:20px; border:2px solid #218ad0; display:inline-block;}

#contacts, #view_article {background-color:#fff; background:rgba(0, 0, 0, 0) linear-gradient(-45deg, #66cdcc 0%, #336799 100%) repeat scroll 0 0; padding-top:30px; color:#fff;}
#contacts #map-container {margin-bottom:30px;}
#contacts .well {background-color:#fff;}

footer {padding-top:30px; background-image: url('../img/bottom-bg.jpg'); height:96px;}
footer ul {margin:0; padding:0;}
footer ul li {display:inline; margin-right:15px; }
footer ul li a, footer ul li a:hover, footer div {color:#fff;}
footer ul li a { border-right:2px solid #737373; padding-right:15px;}
footer .noborder {border-right:0;}

.head-description h1,.head-description p {color:#fff;}
.head-description h1 {font-size:22px; font-weight:bold;}

a.see-more {background-image:url('../img/see-more.jpg'); height:38px; color:#fff; display:inline-block; border-radius:50px; padding-left:10px; padding-right:10px; padding-top:8px;}

#center-bg {background-image: url('../img/center-bg.jpg'); height:534px;}

@media (min-width: 992px) and (max-width: 1199px) {
    #slider .info {margin-top:70px;;}
}

@media screen and (max-width: 991px) {
    #slider .info h1 {font-size:18px; }
    #slider .info {margin-top:100px; margin-right:0;}
    .home-boxes {width:auto;}
    .home-boxes img {width:100%;}
    .home-boxes h2 {font-size:24px;}
}

@media screen and (max-width: 767px) {
    #slider .slide {height:auto;}
    #slider .firm-logo {}
    #slider .info {margin-top:0; margin-left:0; }
    #top-bg {height:auto; background-color:#f23e09; padding-bottom:20px;}
    #center-bg {height:auto;}
    #top-bg nav .navbar-nav li {text-align:left; border:0;}
    .home-boxes {max-width:300px; margin:0 auto; margin-bottom:30px; float:none !important;}
    #center-bg h1.home-other {text-align:center;}
    #top-bg nav .navbar-nav a {color:#333;}
    #top-bg .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default a:hover, .navbar-default a:active {background:none;}
    #top-bg .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {background:none;}
    #slider #bg-xs-slider {background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0; }
    #slide-1 { background-position: 0 -30px;}
}