#header-bg {background-image: url(../imgs/header.jpg); height: 250px; backgroun-size:cover;}
.books .image {max-width:200px; max-height:200px;}
footer {margin-top:20px;}
#recipient_list .list-group-item .book_delete { float:right; text-decoration:none;}
#value_date_time,#value_book_name  {float: left; width: 50%;}