.nav-tabs {border-bottom:0;  background-color:purple; margin-top:40px;}
.nav-tabs li a {color:#fff; border:0;}
.nav > li > a:focus, .nav > li > a:hover, .nav > li > a.active-me {background-color:#cc00cc;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {background-color:transparent;}
.dropdown-menu {background-color:#000066;}
.header section {background-image: url('../imgs/bg.jpg'); height:400px; margin-top:50px; background-size:cover;}
#header-img {text-align:center;}
#header-img span {margin-top:340px; display:inline-block; font-size:36px; color:#fff; text-shadow:2px 2px #000; }
.marginbtn {margin-bottom:100px;}
p.contacts {font-size:22px;}
.seemore {font-size:22px;}
.home-brands {padding-bottom: 30px; border-bottom:1px solid #eee;}

@media screen and (max-width: 767px) {
   .small-r {text-align:left; margin-top:20px;}
}